*.7z filter=lfs diff=lfs merge=lfs -text
other[[:space:]]files/LUCYSetup64bit.exe.zip filter=lfs diff=lfs merge=lfs -text
other[[:space:]]files/LUCYSetup32bit.exe.zip filter=lfs diff=lfs merge=lfs -text
